---
title: Threat verification
created: 2026-05-12T23:14:20+07:00
---

Threat verification is checking the available [[VAK|data]] for grounds to suppose a threat, distinguishing its possibility from signs that it is present now.
