---
title: Threat verification
---

Threat verification is a distinction in which only what is confirmed in [[VAK|VAK]] is recognized as a real threat.
