---
title: VAK verification
---

VAK verification is a way of evaluation through observing behavior and results in [[VAK|VAK]].
