---
title: VAK verification
created: 2026-04-21T12:51:25+07:00
---

VAK verification is a way of evaluation through observing behavior and results in [[VAK|VAK]].
